.GuessSong{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4cada5;
}

.GuessSong-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    z-index: 4;
    align-items: center;
    border: 4px;
    position: relative;
}

.GuessSong-setGameModel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GuessSong-comment{
    font-style: italic;
}

.GuessSong-setGameModel-close{
    display: flex;
    justify-self: right;
    max-height: 40px;
    margin-left: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.GuessSong-results,
.GuessSong-setGameModel-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0ffff;
}

.GuessSong-results{
    margin: auto;
    width: 320px;
}

.GuessSong-results-title{
    font-weight: bold;
    font-size: 18px;
}

.GuessSong .Song-title{
    margin-right: 18px;
}

.GuessSong-gameOption{
    padding: 15px 0;
}

.GuessSong-controlMenuInfoChild{
    padding: 0 10px;
}

.GuessSong-controlMenuInfo{
    display: flex;
}

.GuessSong-controlMenu{
    font-weight: bold;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GuessSong-playArrowIcon
{
    background-color: #0f750f;
    color: white;
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    box-shadow: none;
}

.GuessSong-controlMenu
.css-2b097c-container{
    width: 100px;
}

.GuessSong-lowerMenu{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.GuessSong-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.GuessSong-options .Song{
    flex-basis: 45%;
    border-radius: 4px;
    height: auto;
}

.GuessSong-title{
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.GuessSong-display{
    width: 100%;
    background-color: #e1f8ef;
    padding: 20px;
    border-radius: 16px;
    margin: auto;
    flex-grow: 1;
}

.GuessSong .rhap_progress-section{
    pointer-events: none;
}

.GuessSong .rhap_time.rhap_total-time,
.GuessSong .rhap_current-time{
    display: none;
}

.GuessSong-table{
    padding: 20px;
}

.MuiButton-label{
    font-family: JosefinSans;
}

@media only screen and (max-width: 600px) {
    .GuessSong-options .Song{
        width: 100%;
    }

    .GuessSong .Song-title,
    .GuessSong .Song-singer{
        max-height: none;
    }

    .GuessSong-controlMenu{
        flex-direction: column;
        order: -1;
    }

    .GuessSong-display{
        margin: 0;
    }

    .GuessSong-controlMenuInfo{
        margin-top: 16px;
        flex-wrap: wrap;
    }

    .GuessSong-wrapper{
        margin-top: 60px;
        height: calc(100% - 60px);
        position: fixed;
    }

    .GuessSong-wrapper,
    .GuessSong-results{
        width: 100%;
    }

    .GuessSong-controlMenuInfoChild{
        flex-grow: 1;
        width: 50%;
    }
}

/* bigger screen */
@media only screen and (min-width: 601px) {
    .GuessSong-display{
        position: absolute;
        top: 20%;
        right: 0;
    }
}

.pulse {
    animation: pulse-animation 0.5s infinite;
}

.shaking {
    animation: shake 0.8s infinite;
    -webkit-animation-name:              shake;
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}


@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes shake {
    0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
    20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
    30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
    80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
    90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
    100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
}
