.wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: scroll;
}
.card {
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
  margin: 0 2px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent !important;
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  backdrop-filter: blur(15px) brightness(100%);
}

.card-title {
  transition: 0.3s;
  text-align: center;
  font-family: "Space Mono", monospace;
  margin: 2vw 0 0;
  font-size: 2.8vw;
  opacity: 0;
  transform: scale(0.7);
}
.card:last-child:after {
  content: "";
  width: 6vw;
  position: absolute;
  height: 100%;
  right: -6vw;
  top: 0;
}

.card.isVisible .card-title {
  opacity: 1;
  transform: none;
  transition-delay: 0.1s;
}


.card:first-child {
  margin-left: 6vw;
}
.PopularSongs{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.card.isVisible{
  background: none;
}

@media only screen and (max-width: 600px) {
  .PopularSongs {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .PopularSongs::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  .PopularSongs::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  .PopularSongs::-webkit-scrollbar-thumb {
    background-color: transparent;
    background: none !important;
  }
}
