.Searcher{
    width: 100%;
}


table.song-list td, table.song-list th{
    border-bottom: none;
}

.Searcher-container
{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: #fcfdfa;
    padding: 20px;
}

.song-list{
    display: flex;
    height: 500px;
    overflow-y: scroll;
}

.song{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cbcbcb;
}

.song button{
    width: auto;
    margin-left: 50%;
}


.song td{
    width: 30%;
}

.song-list tbody,
.song{
    width: 100%;
}

.song-list tbody{
    display: flex;
    flex-direction: column;
}

.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty{
    display: none;
}

.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
    width: 100%;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd{
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
        width: 280px;
    }
}