.Searcher{
    width: 100%;
}


table.song-list td, table.song-list th{
    border-bottom: none;
}

.Searcher-container
{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: #fcfdfa;
    padding: 20px;
}

.Searcher-input{
    width: 100%;
}

.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty{
    display: none;
}

.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
    width: 100%;
}


.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl{
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
        width: 280px;
    }
}