.Searcher{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    table.song-list td, table.song-list th{
        border-bottom: none;
    }

    .Clouds{
    }

    &-inputWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f8e4;
        border-radius: 15px;
        padding: 15px;
        width: 60%;
    }

    &-container
    {
        display: flex;
        flex-direction: column;
        height: 90%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        z-index: 99;
        background-color: transparent;
        margin-top: auto;
        margin-bottom: auto;
    }

    &-backgroundOverlay{
        background-color: rgba(0, 0, 0, 0.562);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    &-background{
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-typeEffectWrapper{
        background-color: #f7f8e4;
        border-radius: 15px;
        margin-top: 30px;
        min-width: 50px;
        padding: 10px;
    }

    &-input{
        width: 100%;
    }

    .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty{
        display: none;
    }

    .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
        width: 100%;
    }


    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl{
        border-radius: 100px;
    }

    @media only screen and (max-width: 600px) {
        .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
            width: 280px;
        }

        &-inputWrapper{
            width: 100%;
        }
    }
}