.Searcher {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .Searcher .MuiInputBase-input,
  .Searcher .MuiFormLabel-root{
    font-family: JosefinSans;
  }


  .ReactFlagsSelect-module_label__27pw9{
    font-size: 16px;
    line-height: 1;
  }

  .ReactFlagsSelect-module_selectBtn__19wW7,
  .jss1.MuiOutlinedInput-notchedOutline{
    border: none;
  }

  .ReactFlagsSelect-module_filterBox__3m8EU,
  .ReactFlagsSelect-module_selectOptions__3LNBJ{
    background-color: #f7f8e4;
  }

  .Searcher table.song-list td, .Searcher table.song-list th {
    border-bottom: none; }
  .Searcher-inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f8e4;
    border-radius: 50px;
    padding: 4px;
    width: 60%; }
  .Searcher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .Searcher-openSuggestionModel-close{
    display: flex;
    justify-self: left;
    max-height: 40px;
    margin-left: auto;
    margin-bottom: 5px;
  }

  .Searcher-openSuggestionModel-close:hover{
    fill: #3413f1;
    cursor: pointer ;
  }

  .Searcher-lowerPane{
    display: flex;
    justify-content: right;
    padding: 8px 10px;
    z-index: 9999;
    width: 100%;
  }

  .Searcher-lowerPane > *{
    margin-left: 16px;
  }

  @media only screen and (max-width: 600px) {
    .Searcher-lowerPane {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1170px) {
    .Searcher-lowerPane{
      max-width: 1170px;
    }
  }

  .Searcher-openSuggestionModel{
    z-index: 9999;
    position: fixed;
    display: flex;
    padding: 10% 20px;
    flex-direction: column;

    background:
      /* top, transparent black, faked with gradient */
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      );

    height: 100%;
    width: 100%;
  }

  .Searcher-backgroundOverlay {
    background-color: #0000008f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; }

  .Searcher-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f7f8e4;
    transition: background-image 2s;
  }
  .Searcher-seclectedCountry{
    font-weight: bold;
  }
  .Searcher-flagClose{
    display: flex;
  }
  .Searcher-flagClose .MuiButtonBase-root.MuiButton-root.MuiButton-text{
    padding: 0;
    min-width: 32px;
    padding-bottom: 4px;
  }

  .ReactFlagsSelect-module_selectBtn__19wW7{
    padding-left: 0;
  }

  .Searcher-typeEffectWrapper {
    background-color: #f7f8e4;
    border-radius: 15px;
    margin-top: 30px;
    min-width: 50px;
    padding: 10px; }
  .Searcher-input {
    width: 100%; }
  .Searcher .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty {
    display: none; }
  .Searcher .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
    width: 100%; }
  .Searcher .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
    border-radius: 100px; }

  @media only screen and (max-width: 600px) {

    .Searcher-openSuggestionModel{
      padding-top: 20%;
    }

    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined{
      font-size: 14px;
    }

    .ReactFlagsSelect-module_selectOptions__3LNBJ.ReactFlagsSelect-module_selectOptionsWithSearch__1W03w{
      left: 0;
      position: fixed;
      width: 100%;
    }

    .Searcher .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
      width: 280px;
    }
    .Searcher-inputWrapper {
      width: 100%;
    }

    .Searcher-container {
      height: 100%;
    }
  }
