.Song {
  flex: 0 0 48%;
  text-transform: lowercase;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--concord-2);
  font-weight: 600;
  transition: background-color 0.25s ease-in;
  position: relative;
  color: white;
  min-height: 60px;
}
.Song-countryFlags{
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;
}
.Song-list {
  display: flex;
  height: 500px;
  overflow-y: scroll;
}

.Song:hover {
  background-color: #e2a130 !important;
  cursor: pointer;
  color: black;
  transition: background-color 0.25s ease-in;
}

.Song-title,
.Song-singer{
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.Song-singer{
  font-size: 12px;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  .Song {
    flex: 0 0 0;
  }

  .Song-title,
  .Song-singer{
    overflow: hidden;
  }
}
