.Song{
    flex: 0 0 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    background-color: #c0f0c0;
    margin: 5px;
    height: 100px;

    &-list{
        display: flex;
        height: 500px;
        overflow-y: scroll;
    }

    &:hover{
        background-color: #0f750f;
        cursor: pointer;
        color: white;
    }

    @media only screen and (max-width: 600px) {
        flex: 0 0 0;
    }
}
