.Sbta-cta
{
	cursor: pointer;
	color: #f7f8e4;
}

.Sbta-DescWrapper-author,
.Sbta-DescWrapper-dateCreated
{
	margin-left: 22px;
	color: #b5b6af;
	font-size: 9px;
	font-weight: bolder;
}

.Sbta-artDesc
{
	position: fixed;
	left: 0;
	right: 0;
	top: 80px;
	margin: 0 auto;
	height: 80%;
	background-color: #f7f8e4;
	width: 80%;
	border-radius: 5px;
	z-index: 9999;
}

.Sbta-closeIcon
{
	position: absolute;
	right: 0;
	top: 5px;
}

.Sbta-artDescWrapper
{
	position: relative;
	width: 100%;
	height: 100%;
}

.Sbta-imageStory
{
	display: flex;
	height: 100%;
	width: 100%;
	padding: 35px;
}

.Sbta-imageWrapper,
.Sbta-image
{
	width: 100%;
}

.Sbta-image
{
	object-fit: contain;
	border-radius: 5px;
	height: 320px;
}

.Sbta-ImageDescWrapper
{
	width: 40%;
}

.Sbta-DescWrapper
{
	width: 60%;
	display: flex;
	height: 100%;
	align-items: flex-end;
	padding-bottom: 10%;
}

.Sbta-DescWrapper-title
{
	font-size: 48px;
	margin-right: 8px;
	margin-left: -30px;
}

.Sbta-insertCommentIcon{
	margin-left: 10px;
	height: 18px !important;
	width: 18px !important;
	cursor: pointer;
}

.Sbta-insertCommentIcon:hover{
	fill: #8a2be2;
}

.Sbta-DescWrapper-content{
	height: 100%;
	width: 100%;
}

.Sbta-DescWrapper-content pre{
	height: 80%;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
	.Sbta-DescWrapper,
	.Sbta-ImageDescWrapper
	{
		width: 100%;
	}

	.Sbta-imageStory
	{
		flex-direction: column;
		padding: 15px;
	}

	.Sbta-image
	{
		height: 200px;
	}

	.Sbta-DescWrapper
	{
		flex-direction: column;
		height: 50%;
		padding-bottom: 10px;
	}

	.Sbta-artDesc
	{
		width: 100%;
	}

	.Sbta-DescWrapper-content
	{
		max-height: 400px;
		overflow-y: auto;
	}

	.Sbta-DescWrapper-content pre{
		height: auto;
	}

	.Sbta-DescWrapper-title
	{
		margin-top: 15px;
		margin-left: 0;
	}
}