.LRCParser-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  position: relative;
}

.LRCParser-currentLine {
  color: #3413f1;
  font-weight: 600;
  font-size: 22px;
}

.LRCParser-nextLine,
.LRCParser-previousLine {
  font-size: 13px;
}

.LRCParser-countryFlagsNumPlays{
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 0;
}

.LRCParser-countryFlags{
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.LRCParser-countryFlags
.emoji-mart-emoji{
  display: flex;
  align-items: center;
}

.LRCParser-numPlays{
  font-size: 18px;
}

.LRCParser-containerWrapper{
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LRCParser-recorder{
  display: flex;
  width: 100%;
  justify-content: center;
}