.LRCParser{
    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: fantasy;
        font-size: 18px;
    }

    &-currentLine{
        color: red;
        font-weight: bold;
    }
}