.YokiPhone-cta
{
	cursor: pointer;
	color: #f7f8e4;
}

.YokiPhone-DescWrapper-author,
.YokiPhone-DescWrapper-dateCreated
{
	margin-left: 22px;
	color: #b5b6af;
	font-size: 9px;
	font-weight: bolder;
}

.YokiPhone-title
{
    background-color: #6bf1f1;
    font-size: 18px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    text-align: center;
}

.YokiPhone-title-sub
{
	font-size: 12px;
}

.is-hidden
{
	display: none;
}

.YokiPhone-artDesc
{
	position: fixed;
	left: 0;
	right: 0;
	top: 80px;
	margin: 0 auto;
	height: 75%;
	background-color: #f7f8e4;
	width: 80%;
	border-radius: 5px;
	z-index: 9999;
}

.YokiPhone-updatedSongs
{
    overflow: auto;
    margin-top: 16px;
}

.YokiPhone-controlMenu
{
    display: flex;
    justify-content: center;
}

.YokiPhone-updateProgress
{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.YokiPhone-content
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.YokiPhone-closeIcon
{
	position: absolute;
	right: 0;
	top: 5px;
}

.YokiPhone-artDescWrapper
{
	position: relative;
	width: 100%;
	height: 100%;
    padding: 36px;
}

.YokiPhone-title
{
    text-align: center;
	margin-bottom: 16px;
}

.YokiPhone-imageStory
{
	display: flex;
	height: 100%;
	width: 100%;
	padding: 35px;
}

.YokiPhone-imageWrapper,
.YokiPhone-image
{
	width: 100%;
}

.YokiPhone-image
{
	object-fit: contain;
	border-radius: 5px;
	height: 320px;
}

.YokiPhone-ImageDescWrapper
{
	width: 40%;
}

.YokiPhone-DescWrapper
{
	width: 60%;
	display: flex;
	height: 100%;
	align-items: flex-end;
	padding-bottom: 10%;
}

.YokiPhone-DescWrapper-title
{
	font-size: 48px;
	margin-right: 8px;
	margin-left: -30px;
}

.YokiPhone-insertCommentIcon{
	margin-left: 10px;
	height: 18px !important;
	width: 18px !important;
	cursor: pointer;
}

.YokiPhone-insertCommentIcon:hover{
	fill: #8a2be2;
}

.YokiPhone-DescWrapper-content{
	height: 100%;
	width: 100%;
}

.YokiPhone-DescWrapper-content pre{
	height: 80%;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 600px) {
	.YokiPhone-DescWrapper,
	.YokiPhone-ImageDescWrapper
	{
		width: 100%;
	}

	.YokiPhone-imageStory
	{
		flex-direction: column;
		padding: 15px;
	}

	.YokiPhone-image
	{
		height: 200px;
	}

	.YokiPhone-DescWrapper
	{
		flex-direction: column;
		height: 50%;
		padding-bottom: 10px;
	}

	.YokiPhone-artDesc
	{
		width: 100%;
	}

	.YokiPhone-DescWrapper-content
	{
		max-height: 400px;
		overflow-y: auto;
	}

	.YokiPhone-DescWrapper-content pre{
		height: auto;
	}

	.YokiPhone-DescWrapper-title
	{
		margin-top: 15px;
		margin-left: 0;
	}

	.YokiPhone-title-sub
	{
		text-align: left;
	}
}