.LRCParser-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  position: relative;
}

.LRCParser-currentLine {
  color: var(--martinique);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 3px;
}

.bottomFadeOutCurrentLine{
  animation-name: bottomFadeOutCurrentLine;
  animation-duration: 0.4s;
  white-space: normal;
}

@keyframes bottomFadeOutCurrentLine {
  0% {
    margin-top: 6px;
    opacity: 0.3;
  }

  75% {
    margin-top: 4px;
    opacity: 0.6;
  }

  100% {
    margin-top: 3px;
    opacity: 1;
  }
}

.LRCParser-previousLine{
  margin-top: 0;
}

.bottomFadeOutPreviousLine{
  animation-name: bottomFadeOutPreviousLine;
  animation-duration: 0.4s;
  white-space: normal;
}

@keyframes bottomFadeOutPreviousLine {
  0% {
    margin-top: 3px;
  }

  75% {
    margin-top: 2px;
  }

  100% {
    margin-top: 0;
  }
}

.LRCParser-nextLine,
.LRCParser-previousLine {
  overflow: hidden;
  max-width: 300px;
  max-height: 24px;
  text-overflow: ellipsis;
  color: var(--storm-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.LRCParser-containerWrapper{
  padding: 8px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LRCParser-motivator-container{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.LRCParser-recorder{
  display: flex;
  width: 100%;
  justify-content: center;
}

.LRCParser-hasAnotation{
  cursor: pointer;
  color: var(--pine-green);
  font-weight: 500;
}

.LRCParser-openAnotationModel
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 99999999;
  background-color: var(--pine-green);
  font-size: 12px;
  font-weight: 500;
  color: white;
  transition: width 2s ease;
  overflow: hidden;
}

.LRCParser-openAnotationModel.LRCParser-openAnotationModel-open
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  background-color: var(--pine-green);
  font-size: 12px;
  font-weight: 500;
  color: white;
  transition: width 2s ease;
  overflow-y: auto;
  border-radius: 4px;
}

.LRCParser-openAnotationModel-back
{
  display: none !important;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.LRCParser-openAnotationModel-open
.LRCParser-openAnotationModel-back
{
  display: flex !important;
}

.LRCParser-annotationText
{
  color: white;
  padding: 20px;
  text-align: left;
  width: 90%;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .LRCParser-currentLine {
    font-size: var(--font-size-xl);
  }

  .LRCParser-nextLine,
  .LRCParser-previousLine {
    font-size: var(--font-size-s);
  }
}