.container-center-horizontal{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--midnight-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.offline {
  align-items: flex-start;
  display: flex;
}

.offline-1 {
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(15px) brightness(100%);
  background-color: var(--sunset-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 32px 16px;
}

.content-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 237px;
}

.lyrics-13 {
  letter-spacing: 0;
  padding: 16px 0;
  text-align: center;
}

.play-games-and-sing {
  margin-top: 24px;
  min-height: 64px;
  text-align: center;
  width: 100%;
  white-space: normal;
}

.frame-237 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.buttons-6 {
  align-items: center;
  background-color: var(--pine-green);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  padding: 16px 12px;
}

.buttons-6:hover {
  cursor: pointer;
  background-color: var(--sea-serpent);
  transition: background-color 1s ease;
}

.download-1 {
  height: 24px;
  margin-left: 10px;
  width: 24px;
}

.x12-mb-300-songs {
  letter-spacing: 0;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
}

.buttons-7 {
  align-items: center;
  background-color: var(--chambray);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 12px 16px;
}

.buttons-7:hover {
  background-color: var(--fiord);
  color: white;
  cursor: pointer;
  transition: background-color 1s ease;
}

.buttons-7:hover .poppins-medium-pine-green-20px{
  color: white;
}

.text-50 {
  height: 32px;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
}

.span-58,
.Offline-cta
{
  cursor: pointer;
  transition: color 1s ease;
}

.span-58:hover,
.Offline-cta:hover
{
  color: var(--fire-bush);
  transition: color 1s ease;
}