.Games{
    background-color: #3413f1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Games-instruction{
    color: white;
    text-align: center;
    font-weight: bold;
}

.Games-wrapper{
    margin: auto;
    width: 50%;
}

.Games-nextLine,
.Games-guessTheSong,
.Games-guesssongline{
    background-color: #1edada;
    border-radius: 4px;
    padding: 30px;
    transition: background-color 0.25s ease-in;
    margin: 16px 8px;
    position: relative;
}

.Games-nextLine:hover,
.Games-guessTheSong:hover,
.Games-guesssongline:hover{
    cursor: pointer;
    background-color: aliceblue;
    transition: background-color 0.25s ease-in;
}

.Games-nextLine{
    background-color: #f5df66;
}

.Games-guesssongline{
    background-color: #5fa0eb;
}

.Games-gameTitle
{
    font-size: 32px;
    font-weight: bold;
}

.Games-scoreboard
{
    position: absolute;
    bottom: 3px;
    right: 10px;
    color: black;
    font-weight: bold;
    z-index: 99;
}

/* smaller screens */
@media only screen and (max-width: 600px) {
    .Games-wrapper{
      width: 90%;
    }
}