.Games{
    background-color: #3413f1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Games-instruction{
    color: white;
    text-align: center;
    font-weight: bold;
}

.Games-wrapper{
    margin: auto;
    width: 50%;
}

.Games-nextLine,
.Games-guessTheSong,
.Games-guesssongline{
    background-color: #1edada;
    border-radius: 4px;
    padding: 30px;
    transition: background-color 0.25s ease-in;
    margin: 16px 8px;
    position: relative;
}

/* dont try this at home, kids */
.Games-nextLine:hover,
.Games-guessTheSong:hover,
.Games-guesssongline:hover{
    cursor: pointer;
    background-color: aliceblue;
    transition: background-color 0.25s ease-in;
}

.Games-nextLine.hover,
.Games-guessTheSong.hover,
.Games-guesssongline.hover{
    background-color: aliceblue;
    transition: background-color 0.25s ease-in;
}

.Games-nextLine{
    background-color: #f5df66;
}

.Games-guesssongline{
    background-color: #75b2f8;
}

.Games-gameTitle
{
    font-size: 32px;
    font-weight: bold;
}

.Games-scoreboard
{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    font-weight: bold;
    z-index: 99;
}

/* smaller screens */
@media only screen and (max-width: 600px) {
    .Games-wrapper{
      width: 90%;
    }
}

/* styling for when we are calling from searcher */

.Games.Games-Searcher{
    background-color: transparent;
    overflow-x: scroll;
}

.Games.Games-Searcher .Games-wrapper{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    justify-content: center;
}

.Games-Searcher .Games-nextLine,
.Games-Searcher .Games-guessTheSong,
.Games-Searcher .Games-guesssongline{
    padding: 8px;
    padding-top: 16px;
}

.Games-Searcher .Games-gameTitle{
    font-weight: 400;
    font-size: 20px;
}

.Games.Games-Searcher {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-top: 32px;
}

.Games.Games-Searcher::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}

.Games.Games-Searcher::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
}

.Games.Games-Searcher::-webkit-scrollbar-thumb {
    background-color: transparent;
    background: none !important;
}