
.Song-list{
    display: flex;
    height: 500px;
    overflow-y: scroll;
}

.Song{
    flex: 0 0 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    background-color: #c0f0c0;
    margin-top: 10px;
    margin-right: 10px;
}

.Song:hover{
    background-color: #0f750f;
    cursor: pointer;
    color: white;
}

.Song button{
    width: auto;
}

.Song td{
    width: 30%;
}

.Song-list tbody{
    display: flex;
    flex-direction: column;
}