.CompleteLyrics{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6c7204;
}

.CompleteLyrics-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    z-index: 4;
    align-items: center;
    border: 4px;
    position: relative;
}

.CompleteLyrics-setGameModel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CompleteLyrics-comment{
    font-style: italic;
}

.CompleteLyrics-setGameModel-close{
    display: flex;
    justify-self: right;
    max-height: 40px;
    margin-left: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.CompleteLyrics-results,
.CompleteLyrics-setGameModel-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f8e4;
}

.CompleteLyrics-results{
    margin: auto;
    width: 320px;
}

.CompleteLyrics-results-title{
    font-weight: bold;
    font-size: 18px;
}

.CompleteLyrics-gameOption{
    padding: 15px 0;
}

.CompleteLyrics-controlMenuInfoChild{
    padding: 0 10px;
}

.CompleteLyrics-controlMenuInfo{
    display: flex;
}

.CompleteLyrics-controlMenu{
    font-weight: bold;
    padding: 15px 5px;
    display: flex;
}

.CompleteLyrics-controlMenu
.css-2b097c-container{
    width: 100px;
}

.CompleteLyrics-lowerMenu{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.CompleteLyrics-options{
    display: flex;
    flex-direction: column;
}

.CompleteLyrics-option{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f5df66;
    margin: 5px 0;
}

.CompleteLyrics-option:hover{
    background-color: #f7f8e4;
    cursor: pointer;
}

.CompleteLyrics-options .Song{
    width: 50%;
}

.CompleteLyrics-title{
    font-size: 16px;
    padding-bottom: 15px;
}

.CompleteLyrics-lyricInQuestion{
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 8px 0;
    border-radius: 4px;
    color: #3413f1;
    background-color: #cdc5f8;
    padding: 16px 8px;
}

.CompleteLyrics-display{
    width: 100%;
    background-color: #f2f7b3;
    padding: 20px;
    border-radius: 4px;
}

.CompleteLyrics .rhap_progress-section{
    pointer-events: none;
}

.CompleteLyrics .rhap_time.rhap_total-time,
.CompleteLyrics .rhap_current-time{
    display: none;
}

.CompleteLyrics-showChoks
{
    position: absolute;
    top: -100px;
    left: 0;
    height: 100px;
    overflow-y: auto;
    max-width: 80%;
    background-color: #cdc5f8;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.CompleteLyrics-table{
    padding: 20px;
}

.MuiButton-label{
    font-family: JosefinSans;
}

@media only screen and (max-width: 600px) {
    .CompleteLyrics-options .Song{
        width: 100%;
    }

    .CompleteLyrics-controlMenu{
        flex-direction: column;
        order: -1;
    }

    .CompleteLyrics-controlMenuInfo{
        margin-top: 16px;
        flex-wrap: wrap;
    }

    .CompleteLyrics-wrapper{
        margin-top: 60px;
        height: calc(100% - 60px);
    }

    .CompleteLyrics-wrapper,
    .CompleteLyrics-results{
        width: 100%;
    }

    .CompleteLyrics-controlMenuInfoChild{
        flex-grow: 1;
        width: 50%;
    }
}

/* bigger screen */
@media only screen and (min-width: 601px) {
    .CompleteLyrics-display{
        position: absolute;
        top: 20%;
        right: 0;
    }
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
