.KaraokeDisplay {
  position: relative;
  height: 100%;
  width: 100%;
}
  .KaraokeDisplay-container h2 {
    text-align: center; }

.KaraokeDisplay-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  justify-content: space-between;
  z-index: 4;
}

.KaraokeDisplay-songArtist{
  font-size: 13px;
  color: #8a2be2;
  text-transform: uppercase;
}

.KaraokeDisplay-songTitle{
  color: #3413f1;
  font-weight: bold;
  font-size: 32px;
  text-transform: lowercase;
}

  .KaraokeDisplay-titleArist{
    margin: 15px 0;
    background-color: #f7f8e4;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
  }

  .KaraokeDisplay-audio {
    background-color: transparent;
    color: #f7f8e4; }
    .KaraokeDisplay-audio .rhap_total-time,
    .KaraokeDisplay-audio .rhap_current-time,
    .KaraokeDisplay-audio .rhap_play-pause-button {
      color: #f7f8e4;
    }
    .KaraokeDisplay-audio .rhap_progress-filled {
      background-color: #f7f8e4;
    }

    .KaraokeDisplay-audio .rhap_time{
      font-size: 10px;
      font-weight: bold;
    }

    .KaraokeDisplay-audio .rhap_volume-controls,
    .KaraokeDisplay-audio .rhap_rewind-button,
    .KaraokeDisplay-audio .rhap_forward-button,
    .KaraokeDisplay-audio .rhap_repeat-button,
    .KaraokeDisplay-audio .rhap_additional-controls {
      display: none;
    }

  .KaraokeDisplay-audio .rhap_progress-bar .rhap_progress-bar-show-download,
  .KaraokeDisplay-audio .rhap_progress-indicator,
  .KaraokeDisplay-audio .rhap_progress-filled,
  .KaraokeDisplay-audio .rhap_download-progress{
    height: 3px;
  }


  .KaraokeDisplay-audio .rhap_controls-section{
    justify-content: center;
  }

  .KaraokeDisplay-showTimer {
    background-color: #f7f8e4;
    align-items: 'center';
    display: flex;
    justify-content: center;
  }

  .KaraokeDisplay-cloudBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 5px;
  }

  .KaraokeDisplay-stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
  }

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-webkit-keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
  }
  @-moz-keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
  }
  @-ms-keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
  }


  .KaraokeDisplay-twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    height: 100%;
    width: 100%;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  .KaraokeDisplay .Lyrics {
    display: flex;
    color: blueviolet;
    flex-grow: 1;
    width: 100%;
    z-index: 99;
    background-color: #f7f8e4;
    min-height: 230px;
    align-items: center; }

    .KaraokeDisplay .Lyrics-DisplayContainer {
      max-height: 150px;
      flex-grow: 1;
    }

    .KaraokeDisplay .Lyrics-container {
      display: flex;
      width: 100%;
      font-size: 22px;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .KaraokeDisplay .Lyrics-nonParsedLyrics{
      overflow: scroll;
    }

    .KaraokeDisplay .Lyrics-lowerSection {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }

    .KaraokeDisplay-topContainer{
      flex-grow: 1;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .KaraokeDisplay-motivator{
      margin: 15px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .KaraokeDisplay-motivator-container{
      background-color: #f7f8e4;
      padding: 15px;
      min-width: 200px;
      border-radius: 5px;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
    }

  @media only screen and (max-width: 600px) {
    .KaraokeDisplay .Lyrics-container {
      flex-direction: column;
      font-size: 14px; }
    .KaraokeDisplay .Lyrics-DisplayContainer {
      max-width: 100%;
    }
  }
