.AnnotationFixer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 81px;
  padding: 20px;
}

.AnnotationFixer-textArea{
  position: fixed;
  top: 80;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  padding: 20px;
  background-color: white;
}

.AnnotationFixer-annotation{
  flex-grow: 1;
}

.AnnotationFixer-controlPane{
  display: flex;
  justify-content: space-between;
}

.AnnotationFixer-saveButton,
.AnnotationFixer-closeIcon,
.AnnotationFixer-line{
  cursor: pointer;
}

.AnnotationFixer-line:hover{
  color: red;
}
