.App {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
}

@font-face {
  font-family: Caveat;
  src: url(./assets/Caveat/Caveat-VariableFont_wght.ttf);
}

  .App-body {
    flex-grow: 1;
    height: 100%;
  }

  .App{
    font-family: Caveat;
  }

  .App .content {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    justify-content: center; }
  .App ::-webkit-scrollbar {
    width: 3px;
    height: 3px;}
  .App ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  .App ::-webkit-scrollbar-thumb {
    background: #c0f0c0;
    border-radius: 10px; }
  .App ::-webkit-scrollbar-thumb:hover {
    background: #3413f1; }

  .Dots{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #699eb4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

html, #root, body {
  margin: 0px;
}
