.ScoreboardNextLine{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-color: #6c7204;
    position: fixed;
    overflow: hidden;
    height: 100%;
    top: 0;
    left: 0;
}

.ScoreboardNextLine-wrapper
{
    overflow-y: auto;
    height: 95%;
    padding-right: 16px;
}

.ScoreboardNextLine-guessTheSong
{
    display: flex;
    flex-direction: column;
    height: 100%
}

.ScoreboardNextLine-title
{
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.ScoreboardNextLine-scoreInfo--beginner,
.ScoreboardNextLine-scoreInfo--amateur,
.ScoreboardNextLine-scoreInfo--professional,
.ScoreboardNextLine-scoreInfo--master
{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    transition: ease max-height 2s;
}

.ScoreboardNextLine-scoreInfoWrapper
{
    display: flex;
}

.ScoreboardNextLine-scoreInfo--title
{
    padding: 12px 8px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #6c7204;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.ScoreboardNextLine-arrow--beginner,
.ScoreboardNextLine-arrow--amateur,
.ScoreboardNextLine-arrow--professional,
.ScoreboardNextLine-arrow--master
{
    cursor: pointer;
    transform: rotate(180deg);
}

.ScoreboardNextLine-arrow--beginner.open,
.ScoreboardNextLine-arrow--amateur.open,
.ScoreboardNextLine-arrow--professional.open,
.ScoreboardNextLine-arrow--master.open
{
    transform: rotate(0);
}

.ScoreboardNextLine-scoreInfo--beginner.open,
.ScoreboardNextLine-scoreInfo--amateur.open,
.ScoreboardNextLine-scoreInfo--professional.open,
.ScoreboardNextLine-scoreInfo--master.open
{
    max-height: 62px;
    height: 62px;
    overflow: hidden;
    transition: ease max-height 2s;
}


.ScoreboardNextLine-wrapper
{
    width: 80%;
}

.gray
{
    background-color: #f2f2f280;
}

.ScoreboardNextLine-scoreInfo--subTitle
{
    display: flex;
    width: 100%;
    background-color: #f7f8e4;
    font-weight: bold;
    padding: 4px 0;
}


.ScoreboardNextLine-scoreInfo--subTitle > *,
.ScoreboardNextLine-scoreInfoWrapper > *
{
    width: 20%;
    margin-left: 8px;
}

.ScoreboardNextLine-scoreInfo--rank,
.ScoreboardNextLine-scoreInfo--name,
.ScoreboardNextLine-scoreInfo--score,
.ScoreboardNextLine-scoreInfo--duration,
.ScoreboardNextLine-scoreInfo--averageScore
{
    margin-left: 8px;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}